h1 {
    background-color: aqua;
    color: yellow;
}

h2  {
    background-color: red;
    color: purple;
}

li {
    font-size: xx-large;
    font-weight: bolder;
    color: chartreuse;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vid {
    display: none;
}

#im {
    cursor: pointer;
}

#im:hover {
    border: 10px yellow solid;
}